.App {
  text-align: center;
  color: #edf0fc;
  height: 100%;
  margin: 0;
  font-family: 'roboto', sans-serif;
  max-height: 100vh;
  max-width: 100vw;
}
 
html {
  background-color: #101012;
  height: 100%;
  width: 100%;
}

h1 {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
}

h2 {
  font-weight: 200;
  font-size: 1rem;
}

h3 {
  font-weight: 400;
  font-size: 1.1rem;
}

img {
  max-width: 340px;
  min-width: 200px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 2px #010312;
}

.bottomDiv {
  width: 300px; 
  position: absolute;
  bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

button {
  background-color: #edf0fc;
  color: #010312;
  border: none;
  padding: 0.7rem;
  border-radius: 0.1rem;
  margin-bottom: 1.5rem;
}

p {
  font-weight: 400;
}

.tomorrow {
  font-weight: 200;
  font-size: 0.8rem;
}

.verdict {
  border-style: solid;
  border-width: 1px;
  border-color: #edf0fc;
  max-width: 200px;
  margin: auto;
}

.definitely {
  color: #101012;
  background-color: #fff;
  border-bottom: #02c21f;
  border-style: solid;
  border-width: 0 0 10px 0;
}

.lookingGood {
  color: #101012;
  background-color: #fff;
  border-bottom: #a8a807;
  border-style: solid;
  border-width: 0 0 10px 0;
}

.maybe {
  color: #101012;
  background-color: #fff;
  border-bottom: #d1ce2a;
  border-style: solid;
  border-width: 0 0 10px 0;
}

.unlikely {
  color: #101012;
  background-color: #fff;
  border-bottom: #d1a42a;
  border-style: solid;
  border-width: 0 0 10px 0;
}

.no {
  color: #101012;
  background-color: #fff;
  border-bottom: #cf0000;
  border-style: solid;
  border-width: 0 0 10px 0;
}